@import "./variables.scss";

* {
	box-sizing: border-box;
	margin: 0;

	a {
		all: unset;
	}

	a {
		&:hover {
			cursor: pointer;
		}
	}

	textarea:focus,
	input:focus {
		outline: none;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

body {
	font-family: $Onest;
	background: $bg;
}



/* NAVBAR */
.menu-wrapper {
	background: $g1;
	border-bottom: 3px solid $g2;

	.nav {
		display: grid;
		grid-template-columns: repeat(50, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		align-items: center;
		padding: 5px 0;

		.logo {
			grid-area: 1 / 8 / 2 / 14;
			margin-bottom: -5px;
			justify-content: start;
		}

		.centered-bar {
			grid-area: 1 / 14 / 2 / 36;

			.flex-centered-bar {
				display: $f;
				align-items: center;
				justify-content: center;

				.search-bar {
					padding: 10px 40px 10px 10px;
					min-height: 40px;
					border-radius: 8px;
					border: 1px solid $g2;
					background: $bg;
					font-family: $Onest;
					font-weight: normal;
					font-size: 0.9rem;
					letter-spacing: 0.2px;
					&:hover {
						background: #eeeeee;
					}
					&:focus {
						border: 1px solid $g3;
						background: #eeeeee;
					}
				}

				.add-post-btn {
					margin-left: 10px;
					padding: 5px 10px;
					border-radius: 8px;
					min-height: 40px;
					border: 1px solid $g2;
					background: $g1;
					font-weight: thin;
					font-size: 1.2rem;
					font-family: $Onest;
					letter-spacing: 0.3px;
					&:hover {
						cursor: pointer;
						box-shadow: 1px 1px 2px $g2;
					}
					&:active {
						box-shadow: 1px 1px 2px $g2;
					}
				}
				.flex-post-btn {
					display: $f;
					align-items: center;

					span {
						padding-left: 6px;
					}
				}
			}
		}

		.user-info {
			grid-area: 1 / 36 / 2 / 42;
			display: grid;
			justify-content: end;

			ul {
				li {
					font-weight: bold;
					letter-spacing: 0.3px;
					transition: transform 300ms;
					&:hover {
						cursor: pointer;
						transform: translateX(8px);
					}

					span {
						padding-right: 3px;
					}

					.flex-auth {
						display: $f;
						align-items: center;
					}
				}
			}
		}
	}
}
@media (max-width: 1450px) {
	.menu-wrapper {
	
		.nav {
			grid-template-columns: repeat(30, 1fr);
	
			.logo {
				grid-area: 1 / 2 / 2 / 3;
				justify-content: center;
			}
	
			.centered-bar {
				grid-area: 1 / 14 / 2 / 18;
			}
	
			.user-info {
				grid-area: 1 / 29 / 2 / 29;
			}
		}
	}
}
@media (max-width: 700px) {
	.menu-wrapper {
	
		.nav {
			grid-template-columns: repeat(30, 1fr);
	
			.logo {
				grid-area: 1 / 2 / 2 / 3;
				justify-content: center;
			}
	
			.centered-bar {
				grid-area: 1 / 13 / 2 / 17;
	
				.flex-centered-bar {
					.search-bar {
						display: none;
					}

					.add-post-btn {
						justify-content: center;
						&:hover {
							cursor: pointer;
							box-shadow: 0px 0px 0px $g2;
						}
						&:active {
							cursor: pointer;
							box-shadow: 1px 1px 2px $g2;
						}
					}
				}
			}
	
			.user-info {
				grid-area: 1 / 28 / 2 / 30;
				justify-content: center;
				ul {
					li {
						&:hover {
							cursor: pointer;
							transform: translateX(0px);
						}
						.adaptive-text {
							display: none;
						}
					}
				}
			}
		}
	}
}
/* NAVBAR */

/* LOGIN / REGISTER */
.login-register-switcher {
	display: $f;
	justify-content: center;
	align-items: center;
	margin: 20px 0;

	h1 {
		padding: 0 15px;
		font-size: 1.4rem;
	}
}

.form-wrapper {
	max-width: 50vw;
	margin: 0 auto;
	display: $f;
	padding-bottom: 10px;

	.login-left-side-bar {
		width: 20vw;
		min-height: 80vh;
		background-image: url(../../images/login-register/login-to-account.png);
		background-size: cover;
		background-position: center;
		border-bottom-left-radius: 16px;
		border-top-left-radius: 16px;
	}

	.login-right-side-bar {
		background: white;
		width: 30vw;
		border-bottom-right-radius: 16px;
		border-top-right-radius: 16px;
		display: $f;
		align-items: center;
		justify-content: center;
	}

	.register-left-side-bar {
		width: 20vw;
		min-height: 80vh;
		background-image: url(../../images/login-register/register-side-image.jpg);
		background-size: cover;
		background-position: center;
		border-bottom-left-radius: 16px;
		border-top-left-radius: 16px;
	}

	.register-right-side-bar {
		background: white;
		width: 30vw;
		border-bottom-right-radius: 16px;
		border-top-right-radius: 16px;
		display: $f;
		align-items: center;
		justify-content: center;
	}

	form {
		display: $f;
		flex-direction: column;

		label {
			display: $f;
			flex-direction: column;
			align-items: flex-start;
			padding: 10px 0;
			font-size: 1.2rem;

			input {
				min-height: 60px;
				border-radius: 8px;
				border: 1px solid $g2;
				padding: 0 10px;
				font-family: $Onest;
				font-size: 1.1rem;
				margin-top: 5px;
				background: $bg;
				&:hover {
					background: #eeeeee;
				}
				&:focus {
					border: 1px solid $g3;
					background: #eeeeee;
				}
			}
		}

		.log-btn,
		.reg-btn {
			background: #fbc0d2;
			border: none;
			padding: 20px;
			margin-top: 7px;
			border-radius: 8px;
			font-family: $Onest;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: bolder;
			color: #b34f6d;
			opacity: 0.6;
			transition: 0.3s;
			margin-bottom: 10px;
			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}
		.reg-btn {
			background: #468400;
			color: #99db4d;
		}
	}
}
@media (max-width: 1380px) {
    .form-wrapper {
		flex-direction: column-reverse;
		align-items: center;

		.login-left-side-bar {
			width: 50vw;
			min-height: 70vh;
			border-top-left-radius: 0;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	
		.login-right-side-bar {
			width: 50vw;
			border-top-left-radius: 16px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			padding-bottom: 10px;
		}

		.register-left-side-bar {
			width: 50vw;
			min-height: 70vh;
			border-top-left-radius: 0;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	
		.register-right-side-bar {
			width: 50vw;
			border-top-left-radius: 16px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			padding-bottom: 10px;
		}
	}
}
@media (max-width: 920px) {
    .form-wrapper {

		.login-left-side-bar {
			width: 75vw;
		}
	
		.login-right-side-bar {
			width: 75vw;
		}

		.register-left-side-bar {
			width: 75vw;
		}
	
		.register-right-side-bar {
			width: 75vw;
		}
	}
}
@media (max-width: 820px) {
    .form-wrapper {

		.login-left-side-bar {
			width: 85vw;
		}
	
		.login-right-side-bar {
			width: 85vw;
		}

		.register-left-side-bar {
			width: 85vw;
		}
	
		.register-right-side-bar {
			width: 85vw;
		}
	}
}
@media (max-width: 700px) {
    .form-wrapper {

		.login-left-side-bar {
			width: 95vw;
			min-height: 50vh;
		}
	
		.login-right-side-bar {
			width: 95vw;
		}

		.register-left-side-bar {
			width: 95vw;
			min-height: 50vh;
		}
	
		.register-right-side-bar {
			width: 95vw;
		}

	}
}
@media (max-width: 320px) {
    .form-wrapper {
		flex-direction: column-reverse;
		align-items: center;

		.login-left-side-bar {
			width: 95vw;
		}
	
		.login-right-side-bar {
			width: 95vw;
		}

		.register-left-side-bar {
			width: 95vw;
		}
	
		.register-right-side-bar {
			width: 95vw;
		}
	}
}
/* LOGIN / REGISTER */

/* MAIN PAGE */
.main-page-grid {
	display: grid;
	grid-template-columns: repeat(50, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	.main-page-news {
		border: 1px solid $g2;
		border-radius: 8px;
		margin-top: 40px;
		background: $g1;
		height: 20vh;
		grid-area: 1 / 16 / 2 / 35;
		max-width: 640px;
		min-width: 640px;
		justify-content: center;
	}

	h4 {
		opacity: 0.5;
		color: #43655a;
		font-weight: lighter;
		grid-area: 1 / 16 / 2 / 32;

		.flex-date-main-page {
			display: $f;
			align-items: center;
		}

		.news-dot {
			font-size: 30px;
			margin-left: -10px;
			opacity: 0;
			animation: opacityOnAndOff 5s normal infinite forwards;
			animation-delay: 0.5s;
		}

		@keyframes opacityOnAndOff {
			0% {
				opacity: 1;
			}
			25% {
				opacity: 0;
			}
			50% {
				opacity: 1;
			}
			75% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
}
.kek {
	margin-top: 40px;
	grid-area: 1 / 36 / 2 / 42;
	background-color: white;
}

.kek1 {
	border: 1px solid $g2;
	border-radius: 8px;
	margin-top: 40px;
	background: $g1;
	height: 20vh;
	grid-area: 1 / 8 / 2 / 14;
}
@media (max-width: 1450px) {
	.kek {
		display: none;

	}

	.kek1 {
		display: none;
	}
}
@media (max-width: 640px) {
	.main-page-grid {
		grid-template-columns: repeat(50, 1fr);
		.main-page-news {
			border: 1px solid $g2;
			border-radius: 8px;
			margin-top: 0px;
			background: $g1;
			height: 50vh;
			grid-area: 4 / 12 / 4 / 38;
			max-width: 98vw;
		min-width: 98vw;
		}
	
		h4 {
			opacity: 0.5;
			color: #43655a;
			font-weight: lighter;
			grid-area: 3 / 12 / 3 / 38;
			max-width: 98vw;
		min-width: 98vw;
	
			.flex-date-main-page {
				display: $f;
				align-items: center;
			}
	
			.news-dot {
				font-size: 30px;
				margin-left: -15px;
				opacity: 0;
				animation: opacityOnAndOff 5s normal infinite forwards;
				animation-delay: 0.5s;
			}
	
			@keyframes opacityOnAndOff {
				0% {
					opacity: 1;
				}
				25% {
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				75% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}

	h1 {
		padding: 0 15px;
	}
}
/* MAIN PAGE */

.post {
	grid-area: 1 / 16 / 2 / 34;
	max-width: 640px;
	min-width: 640px;
}

.post-bg {
	background: $g1;
	border-radius: 8px;
	border: 1px solid $g2;
	margin: 20px 0;

	.user-info {
		padding: 10px;
		display: $f;
		align-items: center;
		justify-content: space-between;

		span {
			padding-left: 5px;
		}

		.views-counter {
			display: $f;
			align-items: center;
			font-weight: lighter;
			font-size: 0.8rem;
			color: #8d8d8d;
			opacity: 0.8;
		}

		.user-info-module {
			display: $f;
			align-items: center;

			.user-post-avatar {
				max-width: 22px;
			}

			.username {
				font-weight: bold;
				letter-spacing: 0.01rem;
				opacity: 0.9;
				font-size: .9rem;
			}

			.created-date {
				padding-left: 15px;
				color: #43655a;
				font-weight: lighter;
				letter-spacing: 0.01rem;
				opacity: 0.5;
				font-size: .8rem;
			}
		}
	}

	h2 {
		padding: 0 10px 10px 10px;
	}

	h3 {
		padding: 0 10px 10px 10px;
		font-size: 1rem;
		letter-spacing: 0.01rem;
		font-weight: lighter;
		opacity: 0.8;
	}

	.post-img {
		max-width: 100%;
		min-width: 100%;
	}

	.tags {
		display: $f;
		justify-content: center;

		li {
			padding: 0 5px;
			color: #236a99;
			font-weight: lighter;
			letter-spacing: 0.01rem;
			opacity: 0.7;
		}
	}

	.comments-like-section {
		padding: 5px 10px;
	}
}
@media (max-width: 640px) {
	.post {
		max-width: 98vw;
		min-width: 98vw;
	}
}